<div class="container justify-content-center mt-50 mb-50">
<div class="row">
    @for(game of this.games ; track game.id){
        <div class="col-md-4 mt-2">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <div class="card-img-actions text-center">
                        <img 
                          [src]="game.image" 
                          class="card-img img-fluid" 
                          alt="{{ game.title }}"
                          style="cursor: pointer;" 
                        >
                      </div>
                      <div class="mt-auto text-center">
                        <div class="mb-2">
                          <h2 class="font-weight-semibold mb-2">
                            {{ game.title }}
                          </h2>

                        </div>
                            </div>
                    </div>
                  </div>
                </div>
    }
</div>
</div>